/**
 * Theming for the Demonstrator Homepages Landing Page View - dri-homepages
 */

.view-dri-homepages {
  .views-row {
    @include zen-clear();
    @extend %transition;
    @include rem(padding, 2rem 0 2.2rem 0);
    //border-top: 1px solid $grey-light;
  }


  .node__title {
    @include zen-grid-item (12,6);
    //max-height: 200px;

 
  }
  .field-name-field-image {
    @include zen-grid-item (3,1);
    @extend %transition;
    //@include rem(margin-right, 2rem);
  }

  // tablet
  @include responsive(tablet) {
    .views-field-title {
      
    }
  }

  // phone
  @include responsive(phone) {
    .views-row {
      border-top: 1px solid $grey-light;
    }
    .views-row-last {
      border-bottom: 1px solid $grey-light;
      margin-bottom: 1.5rem;
    }
    .views-field-title {
      padding-top: 5%;
    }
    .views-field-field-home-slider-image {
  }
}
}