/**
 * Search Block form
 **/

#search-block-form,
#block-views-exp-custom-search-page {
  @include zen-grid-item (2,11);
  @extend %transition;
  position: relative;
  top: -60px;
  // float: right;
  input[type="text"] {
    background: $grey-light;
    border: none;
    margin-top: -8px;
    min-height: 39px;
    padding: 11px 10px 10px 10px;
    position: relative;
    left: 39px;
    width: 100px;
  }
  label {
    @extend %hide-text;
  }
  .form-submit {
    @include replace-text-with-dimensions('header/header-search-block-icon.png');
    border: none;
    margin-left: -5px;
    position: relative;
    right: -30px;
    top: -30px;
  }
  @include responsive(tablet-large) {
    //@include zen-grid-item (4,8);
    input[type="text"] {
      margin-top: -3px;
      position: relative;
      left: 0;
    }
    .form-submit {
      position: relative;
      top: -68px;
      right: -105px;
    }
  }
  @include responsive(tablet) {
    @include zen-grid-item (4,7);
    input[type="text"] {
      margin-top: -3px;
    }
    .form-submit {
      border: none;
      margin-left: -5px;
      position: relative;
      right: -30px;
      top: -25px;
    }
  }
  @include responsive(phone) {
    // @include zen-clear();
    @include zen-grid-item (5,6.5);
    position: relative;
    top: -52px;
    left: 5px;
    input[type="text"] {
      margin-top: -3px;
      max-width: 80px;
    }
    .form-submit {
      border: none;
      margin-left: -5px;
      position: relative;
      right: -30px;
      top: -25px;
    }
  }
  @include responsive(phone-small) {
    @include zen-grid-item (5,5);
    input[type="text"] {
      max-width: 60px;
    }
  }
}

/**
 * News Archive - in sidebar
 */

#block-views-news-archive-block {
  @extend %sidebar-links;
  line-height: 2;
  .block-title {
    @extend %sidebar-block-title;
  }
  ol,
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    text-transform: uppercase;
  }
  // Tablets
  @include responsive(tablet) {
    //@include zen-clear();
    @include zen-grid-item(4,7);
  }
}

/**
 * Tags block - in sidebar
 */

#block-views-news-tags-block {
  @extend %sidebar-links;
  line-height: 2;

  .block-title {
    @extend %sidebar-block-title;
  }
  // Tablets
  @include responsive(tablet) {
    @include zen-clear();
    @include zen-grid-item(4,2);
    text-align: right;
  }
}
