/**
 * Cookie Control Styling
 */

#sliding-popup {
  .popup-content {
    #popup-text {
      p {
      font-weight: 400;
      padding-top: 15px;
      }
    }
    #popup-buttons {
      // hiding these at the moment as client hasn't time to write a cookie policy page
      // We can re-enable when client is ready
      // @extend %hide-text;
      padding-top: 10px;
      button {
        @extend %f12;
        &:focus,
        &:hover {
          background: $purple;
          border: none;
          color: $white;
          text-shadow: none;
        }
      }
    }
  }
}

// #sliding-popup .popup-content #popup-buttons button {
//     background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
//     border: 1px solid #DCDCDC;
//     border-radius: 6px;
//     box-shadow: 0 1px 0 0 #FFFFFF inset;
//     color: #000000;
//     cursor: pointer;
//     display: inline-block;
//     font-family: arial;
//     font-weight: bold;
//     margin-right: 5px;
//     margin-top: 1em;
//     overflow: visible;
//     padding: 4px 8px;
//     text-decoration: none;
//     text-shadow: 1px 1px 0 #FFFFFF;
//     vertical-align: middle;
//     width: auto;
// }
